.flags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flags {
  border: 2px solid rosybrown;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.image {
  width: 100px;
  height: 100px;
}
.input {
  width: 300px;
  margin: 2% 0%;
}
.component {
  text-align: center;
}
